
#main_content {
    margin: 0 auto;
    width: 75%;
}

.content_update_wrapper {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    display: block;
    width: 100px;
    height: 50px;
    background-color: blueviolet;
    color: #fff;
    border: none;
    border-radius: 10px;
}

.project_detail_img_wrapper {
    max-height: 700px;
    margin-bottom: 50px;
    overflow: hidden;
}

.box_shadow_wrapper {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 15px;
    padding: 10px 20px;
}

.project_wrapper {
    margin: 30px 0;
}
.project_detail_container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.detail_items {
    display: grid;
    grid-template-columns: 20% 70%;
    column-gap: 5%;
}

.detail_title {
    font-size: 1.3em;
    display: flex;
    align-items: center;
}
.detail_title::before {
    content: "";
    width: 3px;
    height: 23px;
    background-color: blueviolet;
    display: block;

    margin-right: 5px;
}
ul.detail_content {
    margin: 0;
    padding: 0;
}
ul.detail_content li {
    list-style-type: none;
}

.partition {
    background-color: black;
    height: 1px;
    width: 50%;
    margin: 100px auto;
}

.role_container_layer {
    margin: 30px 0;
} 

.role_container_div.pattern_I > div {
    padding: auto;
}
.role_container_div.pattern_I > div > img {
    max-height: 600px;
}

.role_container_div.pattern_CI{
    display: grid;
    grid-template-columns: 40% 60%;
    column-gap: 1%;
}
.role_container_div.pattern_IC {
    display: grid;
    grid-template-columns: 50% 49%;
    column-gap: 1%;
}
.role_container_div.pattern_IC img,
.role_container_div.pattern_CI img {
    max-height: 500px;
}

.role_container_div.pattern_CC{
    display: grid;
    grid-template-columns: 48% 48%;
    column-gap: 4%;
}

.role_title_span {
    display: inline-block;
    padding: 10px;

    border-radius: 30px;
    background-color: #808080;
    color: #fff;
}

ul.role_ul {
    display: flex;
    row-gap: 10px;
    flex-direction: column;
}

#upbutton {
    display: none;
    width: 75px;
    height: 75px;

    position: fixed;
    bottom: 100px;
    right: 100px;
}